*{
      margin:0;
      padding: 0;
      font-family:cursive;
}

@media screen and (max-device-width:1000px) {
        html {
            display: none;
      }
        
}
  
.hero{
      position: relative;
      width: 100%;
      height: 100vh;
      background: #000000;
}
img {
      max-width: 100%;
      height: auto;
  }
  
.hero img{
      width: 11%;
      margin-left:-3% ;
      margin-top: -2%;
      border-radius: 0%;
}
nav{
      display: flex;
      width: 84%;
      margin: auto;
      padding: 1% 1%;
      align-items: right;
      border-bottom: #e90909;
}
nav ul{
      display: inline;
      list-style:circle;
      margin-top: 1%;

      
}

nav ul li a{
      text-decoration: none;
      font-weight: bold;
      font-size: 1.2vw;
      color: white;
      padding: 1%;
      border-radius: 55%;
      background-color: #e90909;
      margin: 0 -3%;
      

      
}

ul li{
      display: inline;
      margin: 1%;
      margin-left: 1%;
      
}
.logo {
      margin-top: 10% ;
}
.logo ul li a {
      display: inline;
      margin-left: 4%;
      width: 1%;
}
.logo ul li a img{
      width:8%
}
img{
      width: 15px;
}
.ce img{
      width: 520px;
      margin-left: 680px;
      display: block;
      margin-top:-208px;
     
      
}
.pe img{
      width: 750px;
      margin-left: 525px;
      display: block;
      margin-top:-410px;
      border-radius: 100%;
}
.ce {
      margin: 45px;
      margin-left: 75px;
      text-align: left;
      display: block;

}
.ce ul li{
      display: block;
      font-size: 25px;
      
}
.ce ul li a{
      
      margin-left: 7px;
      color: #ee0a0a;
      font-style: italic;
      text-align: center;
}
.ce ol ul li span{
      color: #e90909;
}
.link span{
      color: #e90909;
}
.detel{
      margin-left: 8% ;
      margin-top: 7%;

}

.detel h1{
      font-size: 450%;
      color: #212121;
      margin-bottom: 1%;
      color: blue;
}


span{
      color: #0be76e;
      
      
      
}

.detel p{
      color: #10ecec;
      line-height: 145%;
      font-family:cursive;
}
.detel a{
      background:red;
      padding: 1% 1%;
      text-decoration: none;
      font-weight: bold;
      color: white;
      display: inline-block;
      font-family:cursive;
      border-radius: 50%;
      margin: 5%;
      margin-left: 10%;
      text-align: center;

}

.images{
      width: 35%;
      height: 78.5%;
      position:absolute;
      margin-left:42%;
      text-align: center;      
      
}

.images img{
      width: 98%;
      left: 50%;
      position: absolute;
      bottom: 0;
      transition: bottom 1s,left 1s;
     
}


.syn{
      
      padding: 55px;
      margin-top: 0px;
      margin-bottom: 1px;
}


.syn h1{
      font-family:cursive;
      font-size: 17px;
      margin-right: 10px;
      color: rgb(211, 211, 240);
      margin-left: 160px;
      margin-top: -80px;   
      
}


.syn h3{
      font-family:cursive;
      font-size: 30px;
      margin-top: 15px;
      margin-left: 55px;
      color: #e7c60b
      

}
.syn li{
      font-size: 25px;
      color: aqua;
      margin-left: 65px;
      font-family:cursive;
}
.syn img{
      width: 150px;
      margin-top: 15px;
      margin-left:70px ;
}
.syn a{
      color: #ee0a0a;
      font-style: italic;
      text-align: center;
      font-size: 25px;

}
footer {
      background-color: #f1f1f1;
      padding: 10px;
      text-align: center;
    }

.co h1{
      font-size: 70px;
      margin-left: 450px;
      color: #baf0cc;
      margin-bottom: 45px;

}
.hero ul li{
margin: 25px;
margin-left: 95px;

}
.hero ul li img{
      aspect-ratio: 3/2;
      object-fit: contain;  
}

.eduimg {
      
      margin-left: 800px;
      margin-top: -315px;
      margin-bottom: 0px;
      
}
.eduimg img{
      width: 430px;
      margin-bottom: -10px;
}

.pr{
      margin: 45px;

      
}
.pr ol{
      color: #e90909;
}
.pr ul li{
      display: block;
      font-style: italic;
      color:red;
      margin-left: 245px;
}
.pr ul li a {
      color: red;
      font-size: 25px; 
}
.co ul p{
      color: #f1f1f1;
      margin-left: 165px;
      font-size: 20px;
}
footer{
      font-size: larger;
      
}
